@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins";
}

.left {
    background-image: url("../docs/parceiros-de-negocios-apertando-as-maos-de-acordo.png");
    background-size: cover;      
    width: 50%;
    height: 100vh;
}

.container-left {
    display: flex;
    background-color: #24812885 ;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.image-left {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
    text-align: center;
}

.body-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.right {
    display: flex;
    height: 100vh;
    width: 50vw;
    background-color: #005303;
}

.container-right h1 {
    color: white;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-input-container .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px auto;
}

.container label {
    color: white;
    font-weight: bold;
}

.container input {
    border: 5px solid #27802c;
    padding: 16px;
    border-radius: 14px;
    outline: none;
    background-color: #59bd5c59;
}

.container input::placeholder {
    color: rgba(255, 255, 255, 0.829);
}

.button {
    color: #083D0A;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    border: none;
    border-radius: 14px;
}

.button:hover {
    color: #ffffff;
    background-color: #002b02;
    transition: 0.2s;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

.login-text-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 10px;
}

.login-text-container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.text-pass {
    color: white;
    font-size: 11px;
}

.cadastro-text-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 10px;
}

.cadastro-text-container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.cadastro-input-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.cadastro-input-container .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 6px auto;
}


#msg {
    font-size: 12px;
    color: white;
    text-align: center;
}

#msgsenha {
    font-size: 12px;
    color: white;
    text-align: center;
}

#msgConfirm{
    font-size: 12px;
    color: white;
    text-align: center;
}

input {
    color: white;
}

#cadastro_empresa {

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}

#cadastro_empresa button{

    width: 100%;
}

.msg_erro {
  font-size: 12px;
  color: white;
} 


#mensagem_erro {
      font-size: 12px;
  color: white;
}