.Dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.container-dashboard{
  justify-content: space-between;


}
.cabecalho-mensal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px;
  margin-bottom: 10px;
  
}
.container-legendas{
  display: flex;
  align-items: center;
  justify-content: center;
      
          font-weight: 500;
          height: 400px;
          width: 100%;
          margin-bottom: 10px;
}
.box-legenda{
  display: flex;
  background-color: #ebf4eb;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);  
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
  height: 100%;
  gap: 10px;
  font-size: 20px;

}
.text-legend{
  color: white;
  
}
.forma-legenda{
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  
  
}
.cabecalho-mensal h1{
  font-size: 18px;
  color: #003d02;
}
.cabecalho-mensal span{
  font-size: 12px;
  color: #1a4d2e80;
}
.imagem-cabecalho {
  display: flex;
  align-items: center;
  gap: 30px;
}

.imagem-cabecalho img {
  height: auto;
  width: 50px;
  border-radius: 50px;
}
.status {
  display: flex;
  align-items: left;
  justify-content: space-around;
  flex-direction: column;
  font-weight: 500;
  width: 50%;
  border-radius: 20px;
  padding: 0px 0px 10px 0px;
  background-color: #ebf4eb;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.texto-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.titulo-status {
  font-size: 13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.titulo-saida{
    font-size: 12px;
}
.icone-status {
  background-color: #1a4d2e;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-left: 10px;
}

.saida-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #B30000;
  border-radius: 20px;
  font-weight: 500;
  gap: 10px;
  font-size: 100%;
  color: #ffff;
  padding: 5px;
  text-shadow: #000 0px 0px 2px;
}
.selection-mes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-mes select {
  width: 210px;
  height: 25px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 500;
  border: none;
  color: #ffff;
  background-color: #003d02;
  border-radius: 10px;
  padding-left: 15px;
  appearance: none;
  background-color: #003d02;
  background-image: url("../docs/seta-down.png");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: right 15px center;
  margin: 0px 20px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.elementos-01 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 15%;


}

.ppm-container {
  display: flex;
  flex-direction: column;
  background-color: #ebf4eb;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.ppm-container .card {
  display: flex;
  width: auto;
  justify-content: space-between;
  color: #ffff;
  background-color: #003d02;
  padding: 0px 0 0 0;
}


.card-ppm {

  border-radius: 12px;
  color: #ffffff;
  font-weight: 600;
  padding: 0px 25px 0px 25px;
  font-size: 15px;
}
.saida-ppm {
  font-size: 25px;
  font-weight: 500;
  text-shadow: #000 0px 3px 0px;
}
.titulo-ppm {
  display: flex;
  align-items: center;
  font-size: 12px;
  flex-direction: row;
  color: #003d02;
  font-weight: 700;
  gap: 7px;
  padding-left: 10px;
}
.elementos-02 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 500px;

}
#buttonPesquisar{
  background-color:#083d0a ;
  color: #f5fff4;
  font-size: 1rem;
  border: none;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  height: 3rem;
  cursor: pointer;
  padding: 2px 15px 2px 15px;

}

.chart-container {
  background-color: #ebf4eb;
  font-size: 18px;
  color: #003d02;
  font-weight: 600;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 12px;
  position: relative;
  height: 33vh; 
  width: 60vw;
  flex: 1;
}
.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}
.chart-titulo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
}

.elementos-03{
display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
}

.cards-03{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.resposta-card{
  display: flex;
  flex-direction: column;
  background-color: #ebf4eb;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  font-size: 10px;
  font-weight: 600;
  color: #003d02;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
}
.tempo-medio{
  display: flex;
  justify-content: center;
  font-size: 15px;

}

.saida-atual .titulo-atual{
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.saida-anterior{
  background-color: #1a4d2e;
  width: 100%;
  color:#ffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



@media (min-width: 1440px) {
}


