.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
  background-image: linear-gradient(
      90deg,
      rgba(42, 134, 46, 1) 50%,
      rgba(76, 175, 80, 0.13) 100%
    ),
    url("../docs/banner-home.png"), url("../docs/banner-home.png");
  background-size: contain;
  background-position: left, right, left;
}

.bg-color-hero {
  width: 100%;
  background-color: #2ad5a1;
}
.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  color: #efffeb;
  text-align: left;
  gap: 15px;
}
.btn-hero {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.btn-hero button {
  background-color: #f5fff4;
  color: #083d0a;
  font-size: 1rem;
  border: none;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  height: 3rem;
  cursor: pointer;
  padding: 2px 15px 2px 15px;
}
.btn-hero button:hover {
  color: #ffffff;
  background-color: #002b02;
  transition: all 0.3s ease;

  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.068);
}

a {
  text-decoration: none;
  color: #002b02;
}

/*Seção-01*/
.section-controller{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px;
}
.title-controller{
  display: flex;
  flex-direction: column;
  align-items: center;  
  font-weight: 400;
}
.container-controller{
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;

}

.container-controller-img{
  display: flex;
  align-items: flex-start;
  height: auto;
}

.container-controller .container-controller-img img{
  max-width: 70%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;

}

.box-controller button {
  background-color: #000000;
}

@media(min-width: 1440px){
  .container-controller img{
    width: 1000px;
  }

}

.box-controller{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 40%;
  gap: 40px;

}
/*ACCORDEÃO*/

.box-controller button{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: #164A1B;
  cursor: pointer;
  font-size: 2rem;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 1s;

}

.active, .accordion:hover {
  background-color: #ccc; 
  font-weight: 600;
  animation: subir 1.5s ease-in;
}

.panel-style {
  display: none;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  font-weight: 400;
  padding-bottom: 20px;
  gap: 50px;
   transition: max-height 0.2s ease-out;  
}

.btn-panel{
  width: 100%;
  margin-top: 30px;
}
.panel-style .btn-panel a{
  background-color: #000f01;
  color: white;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}


/*Section Efficiency*/
.section-efficiency{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #134215;
  padding: 12rem 5rem 12rem;
    gap: 25px;
}

.container-efficiency{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  color: #ffff;


}

.container-efficiency span{
  font-weight: 300;
}

.container-efficiency p{
  font-weight: 600;
  font-size: 2rem;
}

.container-efficiency h3{
  font-size: 2rem;
  font-weight: 200;
  color: #ffff;
}

.button-efficiency {
 display: flex;
 gap: 50px;
}
.button-efficiency button{
  color: #000000;
  padding: 20px 50px 20px 50px;
  border: none;
  font-weight: 600;
  background-color: #ffff;
  border-radius: 25px;
  font-size: 12px;
  cursor: pointer;
}
.button-efficiency button:hover{
   color: #ffffff;
    background-color: #19631b;
    transition: all 0.3s ease;

    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 3px 5px  rgba(0, 0, 0, 0.068);
}

/*Seção-02*/
.nossos-pilares {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  flex-wrap: wrap;
  background-image: url("../docs/Vector 1.png");
  background-size: 80vh, cover;
  background-repeat: no-repeat;
  background-position: 110% 20%;
  padding: 60px 20px 60px 20px;
}
.pilar {
  width: 100%;
}
.nossos-pilares h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.container-pilar {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
.container-pilar .pilar p {
  text-align: center;
  font-weight: 500;
}
.container-pilar .pilar {
  border: black 5px solid;
  border-radius: 15px;
  padding: 15px 20px 15px 20px;
}

.perfil-li {
  text-align: left;
  display: flex;
}

.features {
  background-color: #134215;
  display: flex;
  align-items: center;
  padding: 50px 50px 100px 50px;
  gap: 60px;
  flex-direction: column;
  height: auto;
  width: auto;
}
.features h2 {
  color: #9fd8a1;
  font-size: 30px;
  text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.6);
}
.features span {
  color: #efffeb;
}

.container-features {
  display: flex;
  flex-direction: row;
  gap: 100px;
  position: relative;
  padding-left: 50px;
}

.conteudo-features {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

.conteudo-features .titulo-features {
  color: #f3ffec;
  font-weight: 600;
  font-size: 25px;
}

.container-features .texto-features {
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  font-size: 13px;
}

.container-features .chart-container {
  box-shadow: -16px 18px 33px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -16px 18px 33px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -16px 18px 33px 0px rgba(0, 0, 0, 0.75);
}

.container-features #chart-horario-css {
  width: 100px;
  height: 15vw;
}

.container-features #chart-incidente {
  position: absolute;
  z-index: 1;
  width: 20vw;
  right: 50%;
  top: 25%;
}

.features .status {
  width: 15vw;
  height: 10vw;
  left: 50%;
  font-size: 2vw;
}

.features .status .titulo-status {
  font-size: 1.5vw;
}

.features .status .saida-status .titulo-saida {
  font-size: 1.5vw;
}

.features #normal {
  width: 14vw;
  height: 9vw;
  z-index: 2;
  position: absolute;
  left: 76%;
  top: 40%;
}
.features #alert {
  width: 13vw;
  height: 8vw;
  z-index: 3;
  position: absolute;
  left: 74%;
  top: -40%;
}

.features #normal .saida-status {
  background-color: #0b7cc7;
}

.features #alert .saida-status {
  background-color: #ddb329;
}

.last-section {
  display: flex;
  position: relative;
  margin: 90px;
}
.container-last {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:10rem;
}
.container-last .conteudo-last h3 {
  font-size: 2vw;
}

.container-last .conteudo-last {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 500;
  gap: 30px;
  width: 30vw;
}
.container-last .conteudo-last .btn-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-last .conteudo-last .btn-hero button {
  background-color: #002b02;
  color: #ffffff;
}

.container-last .conteudo-last .btn-hero button:hover {
  color: #002b02;
  background-color: #eff8ef;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.068);
}

.img-mes img {
  width: 30vw;
  height: 20vw;
  
}
.img-dia img {
  width: 27vw;
  height: 40vw;
  position: absolute;
  z-index: 1;
  left: 45%;
  top: 40%;
}


.perguntas-section h1 {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

.perguntas-section h2 {
  font-size: 16px;
  color: #eee;
}

.features-perguntas {
  background-color: #134215;
  display: flex;
  align-items: center;
  padding: 50px 50px 100px 50px;

  flex-direction: column;
  height: auto;
  width: auto;
}

.msg-pergunta {
  font-weight: 600;
  color: #9fd8a1;
}



.perguntas {
   display: flex;
   flex-direction: column;
   align-items: center; 
   gap: 5px;
   margin: 0 auto;
   width: 100%;
   height: 100%;
}

.pergunta {
   display: flex;
   flex-direction: column;
   align-items: flex-start; 
   gap: 0;
   width: 50%;
}

.pergunta span {
   background-color: green; 
   color: white;
   padding: 3px 5px;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
   font-size: 15px;
   width: 100%; 
   text-align: left; 
}
.pergunta input::placeholder{
  padding-left: 10px;
}

#input_nome {
   width: 100%;
  
   height: 5vh;
   border: 3px solid green;
   border-radius: 0 0 12px 12px;
   background-color: #fcfdf0;
}

#input_duvida{
   width: 100%;
   height: 10vh;
   border: 3px solid green;
   border-radius: 0 0 12px 12px;
   background-color: #fcfdf0;
}

.pergunta{
    margin-top: 2%;
}



.perguntas button{
   width: 20vw;
   height: 5vh;
   margin: 10px auto;
   border: 3px solid green;
   border-top-right-radius: 12px;  
   border-top-left-radius: 12px;  
   border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
   background-color:green;
   color: white;
   cursor: pointer;
}

.perguntas button:hover{
  color: #ffffff;
    background-color: #19631b;
    transition: all 0.3s ease;

    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 3px 5px  rgba(0, 0, 0, 0.068);
}




