.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    background-image:
    linear-gradient(90deg,rgba(42, 134, 46, 1) 50%, rgba(76, 175, 80, 0.13) 100%),
    url('../docs/banner-home.png'),
    url('../docs/banner-home.png');
    background-size:contain;
    background-position: left, right, left;
    
}


.bg-color-hero{
    width: 100%;
    background-color: #2AD5A1;
}
.container-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    color: #EFFFEB;
    text-align: left;
}
.btn-hero{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btn-hero button{
    background-color: #F5FFF4;
    color: #083D0A;
    font-size: 1rem;
    border: none;
    text-align: center;
    border-radius: 20px;
    font-weight:bold;
    height: 3rem;
    cursor: pointer;
    padding: 2px 15px 2px 15px;
}

/*Seção-01*/
.sobre-nos{
    background-color: #003D02;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: #F3FFEC;
}
.sobre-nos p{
    color: #EFFFEB;
    font-weight: 500;
    width: 70%;
}

/*Seção-02*/
.nossos-pilares{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    background-image:
    url('../docs/Vector 1.png');
    background-size:80vh, cover;
    background-repeat: no-repeat;
    background-position: 110% 20%;
    padding: 20px;

    
    

    
    
}
.pilar{
    width: 100%;
}
.nossos-pilares h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.container-pilar{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:60px;
    
    
    
    
}
.container-pilar .pilar p{
    text-align: center;
    font-weight: 500;
}
.container-pilar .pilar{
    border: black 5px solid;
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
    
    
    
}


