

.camara-text-sensor {
    color: #003D02;
    font-weight: 600;
    display: flex;
    gap: 45px;
    margin: 0px 30px 0px 30px;
}

.container-camara-selects-sensor {
    gap: 0;
    margin: 0px 30px 0px 30px;
    display: flex;
}


.elementos-02-sensor {
  display: flex;
  gap: 20px;
  width: 90%;
  margin: 0;
  padding: 0;
}


.elementos-tabela-row {
    display: flex;
    width: 100%;
    gap: 12px;
}

.flex-row-box-sensor {
    font-weight: 600;
    padding: 5px;

    margin-left: 20px;
}

.container-table-sensor{
    width: 100%;
}

.header-table-sensor th{
    background-color: #003D02;
    
    color: #ffffff;
    padding: 3px;
    font-size: 13px;
    border: none;
    border-radius: 0;
    text-align: center;
}

.tr01-sensor td {
    background-color: #59965bb2;
    border-radius: 0;
    padding: 2px;
}

.tr02-sensor td {
    background-color:#59965bd8;;
    border-radius: 0;
    padding: 2px;
}

.elementos-03-sensor{
    display: flex;
  width: 90%;
  margin: 0;
}

.container-elementos-sensores{
     display: flex;
}

.container-elementos-grafico{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

@media (min-width: 1440px) {
}
