<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alerta de Vazamento</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="alerta_caixa" id="alertaCaixa">
        <button class="botao_fechar" id="fecharBotao">×</button>

        <div class="alerta_icon">
            <img class="imagem_alerta" src="imagens/Group.png" alt="alerta de imagem">
        </div>

        <div class="alerta_titulo">
            ALERTA DE VAZAMENTO
        </div>

        <div class="alerta_texto">
            Sensor 01 reportou dados na Câmara 01.
        </div>

        <button class="alerta_botao" id="alertaBotao">
            VER DETALHES <img src="imagens/iconamoon_enter.png" alt="ver detalhes">
        </button>
    </div>
</body>
</html>