

.container-dashboard {
    margin: 5px 20px 0px 245px;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
}

.menu-nav{
    background-color: #1B501D;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: fixed;
    gap: 20px;

}


.logo-nav-lateral img{
    width: auto;
    height: 60px;
    display: flex;


}
.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-nav-lateral ul{
    list-style-type: none;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    
    gap: 0.5rem;


}


.logo-nav-lateral li i{
    color: #ffff;
    width: 35px;

}

.logo-nav-lateral ul a{
    color: #ffff;
    font-weight: 500;
    font-size: 15px;
}

.sair-nav{
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    gap: 15px;
    cursor: pointer;
}
.sair-nav img{
    width: auto;
    height: 40px;
    padding-left: 20px;
}


li a:hover {
  color: #06ae4a;
}

li a:hover i {
  color: #06ae4a;
}
